{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
{% include 'components/_nav.html' %}
<main class="main-content position-relative border-radius-lg ">
    <!-- Navbar -->
    {% include 'components/_custom_nav.html' %}
    <!-- End Navbar -->
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">

                    {% for profile in profiles %}
                    <div class="card">
                        <div class="card-body row">
                            <ul class="col-8" style="list-style: none;">
                                {% if profile.user.username %}
                                <li>Username: {{ profile.user.username }}</li>
                                {% else %}
                                <li>-</li>
                                {% endif %}

                                {% if profile.fullname %}
                                <li>FIO: {{ profile.fullname }}</li>
                                {% else %}
                                <li>-</li>
                                {% endif %}

                                {% if profile.tel_number %}
                                <li>Tel. raqam: {{ profile.tel_number }}</li>
                                {% else %}
                                <li>-</li>
                                {% endif %}
                            </ul>
                            <div class="col-4 d-flex align-items-center">
                                <a class="btn btn-sm btn-warning w-100 d-block m-0"
                                   href="{% url 'create_invoice' pk=profile.id %}">
                                    Qarz so'rash
                                </a>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <div class="card-body">
                        <h6 class="text-center">
                            {% if is_invoice_requests %}
                            Qarz so'raganlar
                            {% elif not invoice_sender %}
                            Qarz/Qarzdor insonlar mavjud emas
                            {% else %}
                            {{ invoice_sender.fullname }} dan qarz olish formasi
                            {% endif %}
                        </h6>
                    </div>
                    {% endfor %}

                    {% block add_invoice %} {% endblock add_invoice %}

                    {% for invoice_request in invoice_requests %}
                    <div class="card">
                        <div class="card-body row">
                            <ul class="col-8" style="list-style: none;">
                                {% if invoice_request.owner.user.username %}
                                <strong><li style="color: blue;">Username: {{ invoice_request.owner.user.username }}</li></strong>
                                {% else %}
                                <strong><li>Username: -</li></strong>
                                {% endif %}

                                {% if invoice_request.owner.fullname %}
                                <li>FIO: {{ invoice_request.owner.fullname }}</li>
                                {% else %}
                                <li>FIO: -</li>
                                {% endif %}

                                {% if invoice_request.owner.tel_number %}
                                <li>Tel. raqam: {{ invoice_request.owner.tel_number }}</li>
                                {% else %}
                                <li>Tel. raqam: -</li>
                                {% endif %}

                                <li>Qarz miqdori: {{ invoice_request.amount|intcomma }} so'm</li>
                                {# <!-- <li>Qarz muddati: {{ invoice_request.calc_invoice_duration }} kun</li>--> #}
                                <li>Qarz qaytarish sanasi: {{ invoice_request.until|date:"d/m/Y" }}</li>
                                <li>
                                    Qarz olishdan maqsad:
                                    {% if invoice_request.reason %}
                                    {{ invoice_request.reason|linebreaksbr }}
                                    {% else %}
                                    -
                                    {% endif %}
                                </li>

                            </ul>
                            <div class="col-4 d-flex align-items-center">
                                {% if not invoice_request.is_confirmed %}
                                <a class="btn btn-sm btn-success w-100 d-block m-0"
                                   href="{% url 'invoice_request_approve' invoice_request.id %}">
                                    Qarz berish
                                </a>
                                {% else %}
                                <button class="btn btn-sm btn-info w-100 d-block m-0" disabled>
                                    Qarz berildi
                                </button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</main>
<style>
.m {
    text-align: center;
}

.btnsub {
    color: green;
}

.m1 {
    margin-left: 10px;
}

.bg-primary{
    background-color: #1C1E3C !important;
}





</style>
{% endblock %}