{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
{% include 'components/_nav.html' %}
<main class="main-content position-relative border-radius-lg ">
    <!-- Navbar -->
    {% include 'components/_custom_nav.html' %}
    <!-- End Navbar -->

    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                <div class="card">
                    <div class="card-body p-3">
                        <div class="row">
                            <div class="col-8">
                                <div class="numbers">
                                    <p class="text-sm mb-0 text-uppercase font-weight-bold"><strong
                                            style="color: green;">Timizdagi qarzlar summasi (umumiy)</strong></p>
                                    <h6 class="font-weight-bolder">
                                        {{ total_invoices.total|intcomma }} so'm
                                    </h6>
                                </div>
                            </div>
                            <div class="col-4 text-end">
                                <div class="icon icon-shape bg-gradient-primary shadow-primary text-center rounded-circle">
                                    <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                <div class="card">
                    <div class="card-body p-3">
                        <div class="row">
                            <div class="col-8">
                                <div class="numbers">
                                    <p class="text-sm mb-0 text-uppercase font-weight-bold"><strong
                                            style="color: blue;">Tizimdagi foydalanuvchilar soni</strong></p>
                                    <h6 class="font-weight-bolder">
                                        {{ total_users_count|intcomma }} ta
                                    </h6>
                                </div>
                            </div>
                            <div class="col-4 text-end">
                                <div class="icon icon-shape bg-gradient-danger shadow-danger text-center rounded-circle">
                                    <i class="ni ni-single-02 text-lg opacity-10" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            {# {% if request.user.profile.sender_invoices.all %}  #}
            <div class="col-lg-7 mb-lg-0 mb-4">
                <div class="card ">
                    <div class="card-header pb-0 p-3">
                        <div class="d-flex justify-content-between">
                            <h6 class="mb-2">
                                {% if request.user.profile.sender_invoices.all.count != 0 %}
                                Qarzlar ro'yhati
                                {% else %}
                                Qarzlar mavjud emas
                                {% endif %}
                            </h6>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table align-items-center ">
                            <tbody>
                            {% for invoice in request.user.profile.sender_invoices.all %}
                            <tr>
                                <td class="w-30">
                                    <div class="d-flex px-2 py-1 align-items-center">
                                        <div class="ms-4">
                                            <p class="text-xs font-weight-bold mb-0">Sana:</p>
                                            <h6 class="text-sm mb-0">{{ invoice.until|date }}</h6>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="text-center">
                                        <p class="text-xs font-weight-bold mb-0">Miqdor:</p>
                                        <h6 class="text-sm mb-0">{{ invoice.amount|intcomma }} so'm</h6>
                                    </div>
                                </td>
                                <td class="align-middle text-sm">
                                    <div class="col">
                                        <p class="text-xs font-weight-bold mb-0">Sabab:</p>
                                        <h6 class="text-sm mb-0">
                                            {% if invoice.reason %}
                                            {{ invoice.reason|truncatechars:"15" }}
                                            {% else %}
                                            -
                                            {% endif %}
                                        </h6>
                                    </div>
                                </td>
                                <td>
                                    <div class="text-center">
                                        <p class="text-xs font-weight-bold mb-0">Status:</p>
                                        {% if invoice.is_confirmed %}
                                        <h6 class="text-sm mb-0 text-success">Tasdiqlangan</h6>
                                        {% else %}
                                        <a class="btn btn-sm btn-warning" href="{% url 'confirm_invoice' invoice.id %}">Qarz
                                            berish</a>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {# {% endif %} #}
<!--            <div class="col">-->
<!--                <div class="card card-carousel h-100 w-100">-->
<!--                    <div id="carouselExampleCaptions" class="carousel slide h-100 w-100" data-bs-ride="carousel">-->
<!--                        <div class="carousel-inner border-radius-lg h-100 w-100">-->
<!--                            {% for ad in ads %}-->
<!--                            <div class="carousel-item h-100 w-100 active" style="background-image: url('{{ ad.photo.url }}');-->
<!--      background-size: cover;">-->
<!--                                <div class="carousel-caption d-none d-md-block bottom-0 text-start start-0 ms-5">-->
<!--                                    <div class="icon icon-shape icon-sm bg-white text-center border-radius-md mb-3">-->
<!--                                        <i class="ni ni-camera-compact text-dark opacity-10"></i>-->
<!--                                    </div>-->
<!--                                    <h5 class="text-white mb-1">{{ ad.title|linebreaksbr }}</h5>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            {% endfor %}-->
<!--                        </div>-->
<!--                        <button class="carousel-control-prev w-5 me-3" type="button"-->
<!--                                data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">-->
<!--                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--                            <span class="visually-hidden">Previous</span>-->
<!--                        </button>-->
<!--                        <button class="carousel-control-next w-5 me-3" type="button"-->
<!--                                data-bs-target="#carouselExampleCaptions" data-bs-slide="next">-->
<!--                            <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--                            <span class="visually-hidden">Next</span>-->
<!--                        </button>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>
</main>

<style>
    .bg-primary {
        background-color: #1C1E3C !important;
    }
</style>
{% endblock content %}