{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
{% include 'components/_nav.html' %}
<main class="main-content position-relative border-radius-lg ">
    <!-- Navbar -->
    {% include 'components/_custom_nav.html' %}
    <!-- End Navbar -->
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header pb-0">
                        <h6>Qarzlar jadvali</h6>
                    </div>
                    <div class="card-body px-0 pt-0 pb-2">
                        <div class="table-responsive p-0">
                            <table class="table align-items-center mb-0">
                                <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Qarz bergan inson
                                    </th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Miqdori
                                    </th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Status
                                    </th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Qarz topshirish sanasi
                                    </th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">

                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for invoice in profile.owner_invoices.all %}
                                <tr>
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <div>
                                                <img src="{{ invoice.sender.photo.url }}"
                                                     class="avatar avatar-sm me-3" alt="user1">
                                            </div>
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">
                                                    {% if invoice.sender.fullname %}
                                                    {{ invoice.sender.fullname }}
                                                    {% else %}
                                                    {{ invoice.sender.user.username }}
                                                    {% endif %}
                                                </h6>
                                                <p class="text-xs text-secondary mb-0">{{ sender.email }}</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="text-xs text-secondary mb-0">{{ invoice.amount|intcomma }}</p>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        {% if invoice.is_confirmed %}
                                        <span class="badge badge-sm bg-gradient-success">Tasdiqlangan</span>
                                        {% else %}
                                        <span class="badge badge-sm bg-gradient-danger">Tasdiqlanmagan</span>
                                        {% endif %}
                                    </td>
                                    <td class="align-middle text-center">
                                        <span class="text-secondary text-xs font-weight-bold">
                                            {{ invoice.until|date:"d/m/Y" }}
                                        </span>
                                    </td>
                                    <td class="align-middle text-center">
                                        <a href="{% url 'pre_pay' pk=invoice.id %}" target="_blank" class="btn btn-dark btn-sm w-100 mb-3">Muddatli to'lov</a>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<style>
.bg-primary{
    background-color: #1C1E3C !important;
}
</style>
{% endblock %}