{% load static %}
<div class="min-height-300 bg-primary position-absolute w-100"></div>
<aside class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 "
       id="sidenav-main">
    <div class="sidenav-header">
        <a class="navbar-brand m-0" href="#"
           target="_blank">
            <img style="max-height: 3rem;" src="{% static 'images/ikonka.png' %}">
            <span class="ms-1 font-weight-bold"></span>
        </a>
    </div>
    <hr class="horizontal dark mt-0">
    <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">
                    <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="ni ni-tv-2 text-primary text-sm opacity-10"></i>
                    </div>
                    <span class="nav-link-text ms-1">Admin panel</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{% url 'invoices' %}">
                    <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="ni ni-credit-card text-warning text-sm opacity-10"></i>
                    </div>
                    <span class="nav-link-text ms-1">Qarzlar</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{% url 'add_invoices' %}">
                    <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="ni ni-fat-add text-success text-sm opacity-10"></i>
                    </div>
                    <span class="nav-link-text ms-1">Qarz olish/Qarz berish</span>
                </a>
            </li>
            <li class="nav-item mt-3">
                <h6 class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder opacity-6">Profil qismi</h6>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{% url 'profile' %}">
                    <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="ni ni-single-02 text-dark text-sm opacity-10"></i>
                    </div>
                    <span class="nav-link-text ms-1">Shaxsiy kabinet</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="sidenav-footer mx-3 ">
        <div class="card card-plain shadow-none" id="sidenavCard">
            <img class="w-50 mx-auto" src="{% static 'images/illustrations/icon-documentation.svg' %}"
                 alt="sidebar_illustration">
            <div class="card-body text-center p-3 w-100 pt-0">
                <div class="docs-info">
                    <h6 class="mb-0">Savollaringiz bo'lsa murojaat qilishingiz mumkin</h6>
                </div>
            </div>
        </div>
        <a href="#" target="_blank" class="btn btn-dark btn-sm w-100 mb-3">Telegram Kanal</a>
        <a class="btn btn-primary btn-sm mb-0 w-100" href="#" type="button">Call-Centre</a>
    </div>
</aside>
